<!DOCTYPE html>

<html>
<head>
  <meta name="viewport" content="width=device-width" />
  <title>@ViewBag.Title</title>
   
  <!-- Stylesheets -->
  <link rel="stylesheet" type="text/css"
    href="@Url.Content("~/Content/themes/simple/style.css")" />
</head>
 
<body>
  <div id="main">
 
    <!-- Header -->
    <div id="header">
      <div id="logo">
        <div id="logo_text">
          <h1><a href="/">Mario's<span class="logo_colour">Blog</span></a></h1>
          <h2>Writings, Work Projects, Experiments and More</h2>
        </div>
      </div>
 
      <!-- Navigation -->
      <div id="menubar">
        <ul id="menu">
          <li>@Html.ActionLink("Posts", "Posts")</li>
          <li>@Html.ActionLink("Contact", "Contact")</li>
          <li>@Html.ActionLink("About Me", "AboutMe")</li>
        </ul>
      </div>
 
    </div>
 
    <!-- Site Content -->
    <div id="site_content">
        @Html.Partial("_Search")
        @RenderBody()
    </div>
 
     <!-- Footer -->
    <div id="footer">
      Copyright © @DateTime.Now.Year Mario's Blog All Rights Reserved
    </div>
  </div>
</body>
</html>
